@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Space+Grotesk:wght@300..700&display=swap");
* {
  padding: 0;
  /* margin: 0; */
  box-sizing: border-box;
  outline: none;
}
.form {
  margin: 50px 50px;
  display: flex;
  font-family: "Inter", sans-serif;
}
.select-left {
  margin: 30px auto;
  display: flex;
  flex-direction: column;

  font-weight: 500;
}
.select-left .item h1 {
  font-family: "Space Grotesk";
  margin-bottom: 12px;
}
.select-left .item p {
  margin-bottom: 20px;
  opacity: 0.7;
}
.item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 44px;
}
.title {
  display: flex;
  gap: 15px;
}
.dot {
  width: 20px;
  height: 20px;
  border-radius: 99px;
  background-color: gray;
  position: relative;
}
.dot_mini {
  background-color: chartreuse;
  padding: 5px;
  border-radius: 99px;
  position: absolute;
  top: 4.5px;
  left: 4.9px;
}
.item-left {
  width: 298px;
  text-align: right;
}
.dot::after {
  content: "";
  display: block;
  width: 1px;
  height: 130px;
  position: absolute;
  background-color: #f4f2f0;
  left: 50%;
  top: 32px;
}
.item-left span,
p {
  color: gray;
}
.item-left span {
  border-radius: 99px;
  padding: 4px 11px;
  background-color: #f3f3f3;
  transition: background-color 0.8s ease;
  font-weight: 500;
  font-weight: 700;
}

.item-left span:hover {
  background-color: #a26f5a;
  color: #fff;
}
.select-right {
  margin: 30px auto;
  position: relative;
  margin-left: 10px;
}
.img-right img {
  width: 250px;
}
.img-left {
  width: 200px;
  height: 300px;
  top: 120px;
  left: -120px;
  position: absolute;
  background-image: url(https://i.pinimg.com/736x/c9/22/3f/c9223f86147db5129229a2866d540ea4.jpg);
}
.text {
  width: 180px;
  height: 280px;
  position: absolute;
  background-color: #425aad;
  opacity: 0.9;
  text-align: right;
  padding: 10px;
  margin: 10px;
  align-items: flex-end;
}
.text h2 {
  font-size: 40px;
  font-weight: 700;
  color: #bbb7bd;
}
.text p {
  color: #bbb7bd;
  font-size: 11px;
}
/* bai2 */
.news {
  margin: 30px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 24px 15px;
}
.box {
  width: 24.33333%;
  padding: 25px;
  border: 2px solid #f4f2f0;
  position: relative;
}
.box-effect span {
  font-size: 2rem;
}
.box-effect h3 {
  margin-top: 20px;
  margin-bottom: 12px;
}
.box-effect p {
  opacity: 0.7;
}
.item_effect {
  color: #fff;
  /* background-color: #A77970; */
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: url(https://cdnphoto.dantri.com.vn/SXdaHVAGLqUGdM-s0UxRuV0y7SU=/thumb_w/960/2021/05/15/co-gai-noi-nhu-con-vi-anh-can-cuoc-xinh-nhu-mong-nhan-sac-ngoai-doi-con-bat-ngo-hon-5-1621075314076.jpg);
  opacity: 0;
  padding: 10px;
}
.item_effect_content {
  border: 1px solid #f4f2f0;
  padding: 10px;
}
.item_effect_content p {
  font-size: 14px;
  color: white;
}
.icon i {
  border-radius: 50%;
  padding: 8px;
  background-color: white;
  color: gray;
  width: 30px;
  height: 30px;
  text-align: center;
  align-items: center;
}
.box,
.item_effect {
  transition: opacity 0.6s ease-in-out;
}
.box:hover .item_effect {
  opacity: 1;
}
/* bai3 */
.table {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 160px;
}
.table form {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.table input::placeholder {
  font-weight: 500;
}
.table_input {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
  align-items: center;
  width: 1000px;
}
.table textarea {
  width: 100%;
  margin-top: 15px;
  border-radius: 4px;
  font-size: 18px;
  padding: 20px;
  border: 2px solid #f4f2f0;
  resize: none;
}
.table input:focus,
select:focus,
textarea:focus {
  border: 2px solid darkorchid;
}
.box_input {
  position: relative;
  width: 479px;
  height: 30px;
}
input,
select {
  width: 100%;
  padding: 10px;
  font-size: 18px;
  border-radius: 4px;
  border: 2px solid #f4f2f0;
  outline: none;
  padding-right: 0;
}
.box_input option {
  color: #afafaf;
}
label {
  position: absolute;
  font-size: 16px;
  color: #333;
  opacity: 0.7;
  top: 50%;
  left: 15px;
  transition: all 0.1s linear;
}
input:focus ~ label {
  top: 1px;
  font-size: 14px;
}
textarea:focus ~ label {
  top: 100px;
  font-size: 14px;
}
.btn {
  border-radius: 99px;
  background-color: #4c77d8;
  color: #fff;
  padding: 10px 15px;
  border: none;
  margin-bottom: 50px;
  cursor: pointer;
}
.btn:hover {
  background-color: red;
}
